Source: mutter-furios-screencast-streamer
Maintainer: Bardia Moshiri <bardia@furilabs.com>
Section: misc
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libglib2.0-dev,
               libdrm-dev,
Standards-Version: 4.7.2
Vcs-Browser: https://github.com/furilabs/mutter-furios-screencast-streamer
Vcs-Git: https://github.com/furilabs/mutter-furios-screencast-streamer.git

Package: mutter-furios-screencast-streamer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         mutter,
Description: Mutter FuriOS screencast streamer to DRM
